*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin: 0;
}

.parallax{
    min-height: 100vh;
    background: linear-gradient(#333,#111);
    position: relative;
    overflow: hidden;
}

.parallax h1{
    margin: 0;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 2.5em;
    line-height: 1.4em;
}

.front-layer{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    pointer-events: none;
}

.front-layer{
    z-index: 1;
}

.front-layer img{
    position: absolute
}

.front-layer img{
    box-shadow: 0 0 1.5em rgba(0,0,0,0.5);
    max-width: 220px;
}

.front-layer img:nth-child(1){
    top: 0;
    left: 20%;
    width: 16%
}

.front-layer img:nth-child(2){
    top: 50%;
    left: 0;
    width: 13%
}

.front-layer img:nth-child(3){
    bottom: 0;
    left: 30%;
    width: 14%
}

.front-layer img:nth-child(4){
    bottom: 20%;
    right: 10%;
    width: 12%
}

.front-layer img:nth-child(5){
    top: 10%;
    right: 30%;
    width: 11%
}
