


img{
  width:4vw;
}


.container {
  padding: 4rem 1rem;
}


.swiper_container {

  padding: 2rem 0;
  position: relative;
}

.swiper-slide {
  width: 20rem;
 
  
  
  /* position: relative; */

}



 